
#page-landing{
    background: linear-gradient(329.54deg, #29b6d1 0%, #00C7C7 100%);

    text-align: center; /*todos os textos no meio*/
    min-height: 100vh;

    display: flex; /* faz com que os elementos dentro dele fiquem alinhados (inline)*/
    align-items: center; /*alinhar no meio*/
}

#container {
    margin: auto;
    
    width: min(90%, 112rem);
}

.location, h1, .visit p{
    height: 16vh;
}

.oculos{
    position: absolute;
    height: 4em;
    width: 5.5em;
    margin-top: -.7em;
    margin-left: -1em;
    animation-delay: 10000ms;
}

#logo {
    animation-delay: 50ms;
}

.location {
    animation-delay: 100ms;
}

main h1{
    font-size: clamp(4rem, 8vw, 8.4rem); /* min ideal max*/
    animation-delay: 150ms;
}

.visit p {
    animation-delay: 200ms;
}

.visit a {
    width: 8rem;
    height: 8rem;
    background: #ffd666;

    border: none;
    border-radius: 3rem;

    display: flex;
    align-items: center;
    justify-content: center; /*alinhamento no eixo y*/

    margin: 0 auto;
    transition: background 200ms;

    animation-delay: 250ms;
}

.visit a:hover{
    background: #96feff;
}


/* desktop version */
@media (min-width: 760px) {
    #container{
        padding: 5rem 2rem;
        /* shorthand background: image- reapeat position / size */
        background: url("../images/bg.svg") no-repeat 80% / clamp(30rem, 54vh, 56rem);
    }
    header{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .location, h1, .visit p {
        height: initial;
        text-align: initial;
    }

    .location {
        text-align: right;
        font-size: 2.4rem;
        line-height: 1.5;
    }

    main h1{
        font-weight: bold;
        line-height: .88;

        margin: clamp(10%, 9vh, 12%) 0 4rem;
        width: min(300px, 80%);
    }

    .visit{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .visit p{
        font-size: 2.4rem;
        line-height: 1.5;
        width: clamp(20rem, 20vw, 30rem);
    }

    .visit a {
        margin: initial;
    }
}